<div id="content">
    <!-- row -->
    <div class="row">

        <div class="col-sm-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <form class="well padding-bottom-10">
                            <textarea ng-model="post.body" rows="2" class="form-control" placeholder="O que você deseja dizer, ckizé dizer algo... fale agora...?"></textarea>

                            <div class="margin-top-10">
                                <button type="submit" class="btn btn-sm btn-primary pull-right" ng-click="publish()">
                                    Post
                                </button>
                                <a href-void class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
                                <a href-void class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
                                <a href-void class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
                                <a href-void class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i
                    class="fa fa-file"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="well well-sm">
                <div class="row" ng-repeat="post in feeds | orderBy:'-created_at'">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body status">
                                    <div class="who clearfix">
                                      <!-- //img possible class "online"  -->
                                        <img ng-src="{{post.poster_profile_image || 'styles/img/avatars/male.png'}}" alt="img">
                                        <span class="name">
                                          <b>
                                            <a href="" ui-sref="app.profile.details({userId: post.user_id})">{{post.poster_firstname}}</a>
                                          </b> publicou um post.
                                        </span>
                                        <span class="from"><b><span am-time-ago="post.created_at"></b></span></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            {{post.body}}
                                        </p>
                                    </div>
                                    <ul class="links">
                                        <li>
                                            <a href="javascript:void(0);"><i class="fa fa-thumbs-o-up"></i> Like</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><i class="fa fa-comment-o"></i> Comment</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><i class="fa fa-share-square-o"></i> Share</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end row -->
</div>
