<header id="header" class="animated fadeInDown">

    <div class="logo-login">
      <img src="styles/img/logo/logo.png" width="52" alt="" />
      <span>IZE</span>
    </div>
    
    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Ainda não tem uma conta?</span> <a ui-sref="register" class="btn btn-danger">Crie já sua Conta</a> </span>
</header>
<div id="main" role="main" class="animated fadeIn">

    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <div class="well no-padding">
                    <form id="login-form" class="smart-form client-form">
                        <header class="text-center">
                            Login - cKIZE
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email" ng-model="credentials.email">
                                    <b class="tooltip tooltip-top-right">
                                      <i class="fa fa-user txt-color-teal"></i>
                                      Digite um e-mail. Obrigado.
                                    </b>
                                </label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" ng-model="credentials.password">
                                    <b class="tooltip tooltip-top-right">
                                      <i class="fa fa-lock txt-color-teal"></i>
                                      Não deixe sua senha vazia. Digite uma.
                                    </b>
                                </label>

                                <div class="note">
                                    <a ui-sref="forgotPassword">Esqueceu sua senha?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Manter Conectado.</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" ng-click="login(credentials)" class="btn btn-primary">
                                Entrar
                            </button>
                        </footer>
                    </form>
                </div>

                <h5 class="text-center"> - Entre usando. -</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
