<header id="header">

    <!-- <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
    </div> -->

    <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Já tem um registro? </span> <a ui-sref="login" class="btn btn-danger">Entrar</a> </span>

</header>
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <div class="well no-padding">
                    <form id="login-form" class="smart-form client-form">
                        <header>
                          Olá {{$stateParams.userName}}
                        </header>

                        <fieldset>
                            <section>
                              <label class="label">Digite sua Nova Senha</label>
                              <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                  <input type="password" name="pass" ng-model="resetpass">
                              </label>
                            </section>

                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-primary" ng-click="resetPassLink(resetpass)"> Concluir

                            </button>
                        </footer>
                    </form>

                </div>
                <p class="note text-center">* Você receberá um email com o link de redefinição de senha.</p>
            </div>
        </div>
    </div>

</div>
