<div id="content">
<div class="row">
    <big-breadcrumbs items="['Page Header', 'Subtitle']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>

  <h1>Friend Page</h1>
  <div class="col-md-6">

  <div class="panel panel-default">
				<div class="panel-body status">
					<div class="who clearfix">
						<h4>See anyone you know? Connect with them</h4>
					</div>
					<div class="row">
						<div class="text">
							<div class="col-sm-12 col-md-6 col-lg-4">
								<div class="well text-center connect">
									<img src="styles/img/avatars/female.png" alt="img" class="margin-bottom-5 margin-top-5">
									<br>
									<span class="font-xs"><b>Jennifer Lezly</b></span>
									<a href="javascript:void(0);" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span class="font-xs">Connect</span> </a>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4">
								<div class="well text-center connect">
									<img src="styles/img/avatars/female.png" alt="img" class="margin-bottom-5 margin-top-5">
									<br>
									<span class="font-xs"><b>Jennifer Lezly</b></span>
									<a href="javascript:void(0);" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span class="font-xs">Connect</span> </a>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4">
								<div class="well text-center connect">
									<img src="styles/img/avatars/female.png" alt="img" class="margin-bottom-5 margin-top-5">
									<br>
									<span class="font-xs"><b>Jennifer Lezly</b></span>
									<a href="javascript:void(0);" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span class="font-xs">Connect</span> </a>
								</div>
							</div>
						</div>
					</div>
					<ul class="links text-right">
						<li class="">
							<a href="javascript:void(0);">Find people you know <i class="fa fa-arrow-right"></i> </a>
						</li>
					</ul>
				</div>
			</div>
</div>
</div>
