<div id="content">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body status">
                    <div class="who clearfix">
                        <h4>Veja quem são seus amigos.</h4>
                    </div>
                    <div class="row">
                        <div class="text">
                            <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="friend in friends">
                                <div class="well text-center connect">
                                    <img ng-src="{{friend.profile.profile_picture_url || 'styles/img/avatars/male.png'}}" width="72" height="72" alt="img" class="margin-bottom-5 margin-top-5">
                                    <br>
                                    <a href="" ui-sref="app.profile.details({userId: friend.profile.user_id})">
                                      <span class="font-xs"><b>{{friend.name}}</b></span>
                                    </a>
                                    <br>
                                    <button class="btn btn-xs btn-danger margin-top-5 margin-bottom-5" ng-click="removeFriend(friend.id)"><span class="font-xs">Desfazer</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="links text-right">
                        <li class="">
                            <a ui-sref="app.peoples">Encontre mais pessoas <i class="fa fa-arrow-right"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
