<div id="content">
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="myCarousel" class="carousel fade profile-carousel">
                                        <div class="air air-top-left padding-10">
                                            <h4 class="txt-color-white font-md">...</h4>
                                        </div>
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1" class></li>
                                            <li data-target="#myCarousel" data-slide-to="2" class></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <!-- Slide 1 -->
                                            <div class="item active">
                                                <img src="styles/img/demo/s1.jpg" alt="demo user">
                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="item">
                                                <img src="styles/img/demo/s2.jpg" alt="demo user">
                                            </div>
                                            <!-- Slide 3 -->
                                            <div class="item">
                                                <img src="styles/img/demo/m3.jpg" alt="demo user">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3 profile-pic">
                                            <img ng-src="{{current_user.profile.profile_picture_url}}" width="128" alt="demo user"></img>
                                            <div class="padding-10">
                                              <h4 class="font-md"><strong>{{current_user.friends.length}}</strong>
                                                <br>
                                                <small>Amigos</small>
                                              </h4>
                                                <br>
                                                <a ui-sref="app.profile.update" class="btn btn-primary hidden-xs"><i class="fa fa-pencil-square-o"></i> Editar</a>


                                              <!-- <h4 class="font-md"><strong>419</strong>
                                                <br>
                                                <small>Connections</small>
                                              </h4> -->
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                          <h1>{{current_user.profile.display_name}}
                                            <br>
                                            <small> {{current_user.profile.skills || 'Sua Profissão'}}</small>
                                          </h1>

                                            <ul class="list-unstyled">
                                              <li>
                                                  <p class="text-muted">
                                                      <i class="fa fa-user"></i>&#xA0;&#xA0; <span class="txt-color-darken">{{current_user.profile.first_name}} {{current_user.profile.last_name}}</span>
                                                  </p>
                                              </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{current_user.profile.phone_number_1}}</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:{{current_user.profile.email}}">{{current_user.profile.email}}</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-map-marker"></i>&#xA0;&#xA0; <span class="txt-color-darken"> {{current_user.profile.address}}</span>
                                                    </p>
                                                </li>

                                            </ul>
                                            <br>

                                            <p class="font-md">
                                                <i>Um pouco sobre mim...</i>
                                            </p>

                                            <p>
                                                {{current_user.profile.aboutme}}
                                            </p>
                                            <br>

                                            <br>
                                            <br>
                                        </div>
                                        <div class="col-sm-3">
                                            <h1>
                    <small>Conexões</small>
                </h1>
                                            <ul class="list-inline friends-list">
                                                <li ng-repeat="friend in current_user.friends">
                                                    <a href="" rel="tooltip" data-placement="top" data-original-title="Tooltip Top">
                                                        <img ng-src="{{friend.picture_url || 'styles/img/avatars/male.png'}}" alt="friend-1">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                    <div class="padding-10">
                                        <ul class="nav nav-tabs tabs-pull-right">
                                            <li class="active">
                                                <a href="#a1" data-toggle="tab">Posts Recentes</a>
                                            </li>
                                            <li>
                                                <a href="#a2" data-toggle="tab">Amigos</a>
                                            </li>
                                            <li class="pull-left">
                                                <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Atividades</span>
                                            </li>
                                        </ul>
                                        <div class="tab-content padding-top-10">
                                            <div class="tab-pane fade in active" id="a1">
                                                <div class="chat-body no-padding profile-message">
                                                    <ul ng-repeat="post in current_user.posts">
                                                        <li class="message">
                                                            <img ng-src="{{post.poster_profile_image || 'styles/img/avatars/male.png'}}" width="52" class="online" alt="sunny"></img>
                                                            <span class="message-text">
                                                              <a href-void="" class="username" href="#">
                                                                {{post.poster_firstname}}
                                                                <small class="text-muted pull-right ultra-light"><span am-time-ago="post.created_at"></span></small>
                                                              </a>
                                                              {{post.body}}
                                                            </span>

                                                            <ul class="list-inline font-xs">
                                                                <li>
                                                                    <a href-void="" class="text-info" href="#"><i class="fa fa-reply"></i> Reply</a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-danger" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-muted" href="#">Show All Comments (14)</a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-primary" href="#">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-danger" href="#">Delete</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- <li class="message message-reply">
                                                            <img src="styles/img/avatars/3.png" class="online" alt="user">
                                                            <span class="message-text"> <a href-void="" class="username" href="#">Serman Syla</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>
                                                            <ul class="list-inline font-xs">
                                                                <li>
                                                                    <a href-void="" class="text-muted" href="#">1 minute ago </a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-danger" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="message message-reply">
                                                            <img src="styles/img/avatars/4.png" class="online" alt="user">
                                                            <span class="message-text"> <a href-void="" class="username" href="#">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>
                                                            <ul class="list-inline font-xs">
                                                                <li>
                                                                    <a href-void="" class="text-muted" href="#">a moment ago </a>
                                                                </li>
                                                                <li>
                                                                    <a href-void="" class="text-danger" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
                                                                </li>
                                                            </ul>
                                                            <input class="form-control input-xs" placeholder="Type and enter" type="text">
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="a2">
                                                <!-- <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">
                                                        &#xD7;
                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong>51 new members </strong>joined today!
                                                </div> -->
                                                <div ng-repeat="friend in current_user.friends " class="user" title="{{friend.email}}">
                                                    <img ng-src="{{friend.picture_url || 'styles/img/avatars/male.png'}}" alt="users"><a href-void>{{friend.name}}</a>

                                                    <div class="email">
                                                        {{friend.email}}
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end tab -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
